/*
    STYLES
*/

.group {
    color: white;
}

.subheader {
    color: rgb(200, 200, 200);
}

.label {
    color: rgb(100, 100, 100);
}

.wireButton {
    background-color: transparent;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.wireButton::hover {
        background-color: rgba(255, 255, 255, 0.1);
}

.hiddenTextInput {
    background-color: transparent;
    border: none;
    color: white;
}

.iconButton {
    color: white;
    border-radius: 20px;
    background-color: transparent;
}

.iconButton::menu-indicator {
    width: 0px;
}

.iconButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.appButton {
    background-color: transparent;
    border-radius: 25px;
}

.appButton::menu-indicator {
    width: 0px;
}

/*
    TABS
*/

.QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    border: none;
}

QTabBar::tab {
    height: 25px;
    width: 60px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin: 0px 5px;
}

QTabBar::tab::selected {
    color: rgb(168, 74, 214) ;
}

    QTabBar::tab::hover {
        background-color: rgba(255, 255, 255, 0.1);
    }


/*
    FIELDS
*/

.colorButton {
    background-color: black;
    border: 1px outset rgb(50, 50, 50);
    border-radius: 2px;
}

.colorButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/*
    POPUP
*/

.confirmationBox {
    background-color: rgba(15, 15, 15, 200);
    border-radius: 8px;
}

.confirmationBox QLabel {
    color: rgb(200, 200, 200);
}

.confirmationBox QPushButton {
    background-color: transparent;
    width: 75px;
    height: 20px;
    border-radius: 7px;
    color: white;
}

.confirmationBox QPushButton::hover {
        background-color: rgba(255, 255, 255, 0.1);
}