/*
    STYLES
*/

.group {
    color: white;
}

.subheader {
    color: rgb(200, 200, 200);
}

.label {
    color: rgb(100, 100, 100);
}

.wireButton {
    background-color: transparent;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.wireButton::hover {
        background-color: rgba(255, 255, 255, 0.1);
}

.hiddenTextInput {
    background-color: transparent;
    border: none;
    color: white;
}

.iconButton {
    color: white;
    border-radius: 20px;
    background-color: transparent;
}

.iconButton::menu-indicator {
    width: 0px;
}

.iconButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.appButton {
    background-color: transparent;
    border-radius: 25px;
}

.appButton::menu-indicator {
    width: 0px;
}

/*
    TABS
*/

.QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    border: none;
}

QTabBar::tab {
    height: 25px;
    width: 60px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin: 0px 5px;
}

QTabBar::tab::selected {
    color: rgb(168, 74, 214) ;
}

QTabBar::tab::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu {
    background-color: rgba(15, 15, 15, 200);
    border-radius: 15px;
    color: white;
}

.menu::item {
    border-radius: 7px;
    height: 20px;
    width: 75px;
}

.menu::item:selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.panel {
    background-color: rgba(15, 15, 15, 200);
    border-radius: 20px;
}

.propertiesPanel {
    background-color: rgba(15, 15, 15, 200);
    border-radius: 20px;
}

.propertiesPanel QWidget {
    background-color: transparent;
}

/*
    FIELDS
*/

QSlider::groove::horizontal {
    background-color: rgba(255, 255, 255, 0.1); 
    height: 4px; 
    border-radius: 2px;

}

QSlider::handle::horizontal {
    background-color: white;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    line-height: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 6px;
}

.colorButton {
    background-color: black;
    border: 1px outset rgb(50, 50, 50);
    border-radius: 2px;
}

.colorButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.colorPopup {
    background-color: rgba(15, 15, 15, 200);
}

.colorPopup QPushButton {
    border-radius: 7px;
    background-color: transparent;
    color: white;
}

.colorPopup QPushButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.colorPopup QLineEdit {
        background: rgba(15, 15, 15, 200);
        color: white;
}

.colorPopup QSpinBox {
    color: white;
    background: rgba(15, 15, 15, 200);
}

.transparentTextInput {
    background-color: transparent;
    border: none;
    color: white;
}

.lineEdit {
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/*
    POPUP
*/

.confirmationBox {
    background-color: rgba(15, 15, 15, 200);
    border-radius: 8px;
}

.confirmationBox QLabel {
    color: rgb(200, 200, 200);
}

.confirmationBox QPushButton {
    background-color: transparent;
    width: 75px;
    height: 20px;
    border-radius: 7px;
    color: white;
}

.confirmationBox QPushButton::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.progressBox {
    background-color: rgba(15, 15, 15, 200);
}

.progressBox QProgressBar {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    text-align: center;
}

.progressBox QProgressBar::chunk {
    background-color: rgb(168, 74, 214);
    border-radius: 7px;
}